<p-dialog header="Device Details" [(visible)]="display" [modal]="true" [responsive]="true"
  [style]="{width: '650px', height:'900px', minWidth: '200px'}" [minY]="70" [maximizable]="true" [baseZIndex]="10000">
  <table class="table header table-striped">
      <thead>
              <tr>
                  <th>Sr.No</th>
                <th>Name</th>
                <th>Details</th>
                <th>Assign Date</th>
                <th>Maintainance Details</th>
              </tr>
            </thead>
            <tbody class="table-dark nameone">
                  <tr *ngFor="let d of details index as i">
                      <td>{{i+1}}</td>
                    <td>{{d.deviceName}}</td>
                    <td>{{d.deviceDetails}}</td>
                    <td>{{d.devicePurchaseDate}}</td>
                    <td>{{d.maintainanceDetails}}</td>
                    
                  </tr>
                </tbody>
            
  </table>
</p-dialog>

<p-dialog header="Add Employee" [(visible)]="useradd" [modal]="true" [responsive]="true"
  [style]="{width: '350px',  height:'900px',minWidth: '200px'}" [minY]="70" [maximizable]="true" [baseZIndex]="10000">
  <div class="col-sm-12 col-lg-12 col-md-12">

        <div class="row row_form   ">
    
          <div>
            <form class="group grp_form ">
              <div>
                <label class="first">First name</label>
                <input type="text" class="form-control text-centre"  placeholder="" name="firstName">
              </div>
              <div>
                <label class="last">Last name</label>
                <input type="text" class="form-control text-centre"  placeholder="" name="lastName">
              </div>
              <div>
                <label class="add">Address</label>
                <input type="text" class="form-control text-centre"  placeholder=""name="address">
              </div>
              <div>

                    <div>
                            <label class="mobno">Mobile No</label>
                            <input type="text" class="form-control text-centre" placeholder="" name="Mobile No">
                          </div>
                  <label class="add">Email_Id</label>
                  <input type="text" class="form-control text-centre"  placeholder=""name="emailId">
                </div>
              <div>
                <label class="mobno">Skills</label>
                <input type="text" class="form-control text-centre" placeholder="" name="skills">
              </div>
              <div>
                <label class="desgn">Designation</label>
                <input type="text" class="form-control text-centre" placeholder="" name="designation">
              </div>
             
              <div class="form group  ">
                <button type="submit" class="btn btn-primary regis ">Register</button>
              </div>
              </form>
              </div>
              </div>
              </div>
              
</p-dialog>

<!-- <button class="btn-primary btn" type="button" (click)="showDialog()" pButton icon="pi pi-info-circle" label="Show"> popups</button> -->

<div class="container">
  <div class="btn row">
    <button  (click)="AddUser()" class="btn btn-primary button float-right "> Add Employee</button>
  </div>

  <div class="name row">
    <table class="table header table-striped">
      <thead>
        <tr>
          <th>Sr.No</th>
          <th>Firstname</th>
          <th>Lastname</th>
          <th>Email</th>
          <th>Device Count</th>
        </tr>
      </thead>
      <tbody class="table-dark nameone">
        <tr *ngFor="let d of data index as i">
          <td>{{i+1}}</td>
          <td>{{d.firstName}}</td>
          <td>{{d.lastName}}</td>
          <td>{{d.email_id}}</td>
          <td (click)="showDialog()">{{d.device_count}}</td>
        </tr>
      </tbody>
    </table>
  </div>
</div>