.gradient1 {
    background: linear-gradient(to right top, #90AFDD, #8AAAD9, #84A4D5) !important;
  }
  .gradient2 {
    background-image: linear-gradient(to right top, #90AFDD, #8AAAD9, #84A4D5) !important;
  }
  .gradient3 {
    background-image: linear-gradient(to right top, #90AFDD, #8AAAD9, #84A4D5) !important;
  }
  .gradient4 {
    background-image: linear-gradient(to right top, #90AFDD, #8AAAD9, #84A4D5) !important;
  }
  .gradient5 {
    background-image: linear-gradient(to right top, #90AFDD, #8AAAD9, #84A4D5) !important;
  }
  .gradient6 {
    background-image: linear-gradient(to right top, #90AFDD, #8AAAD9, #84A4D5) !important;
  }

  .info-card {
    padding: 21px;
    border-radius: 10px;
    color: white;
    font-size: 10px;
    font-weight: bold;
    font-size: smaller;
  }

  .horizontal-list{
    display: flex;
    overflow-x: auto;
}
.count{
    text-align: center
}


.container{
    padding-top: 32px;
}