<div class="container">
    <div class="row"></div>
    <div class="main row px-3">       
          <div class="col-lg-2 col-sm-6 col-md-3 col-6 px-1 clickable">
            <div class="info-card gradient1">
                <div class="count">
                        Employee Count
                </div>
            
             <div class="count">80 </div>
            </div>
          </div>
      
          <div class="col-lg-2 col-sm-6 col-md-3 col-6 px-1 clickable">
            <div class="info-card gradient2">
                    <div class="count">
              Java Devloper
                    </div>
              <div class="count">80 </div>
            </div>
          </div>
      
          <div class="col-lg-2 col-sm-6 col-md-3 col-6 px-1 clickable">
            <div class="info-card gradient3">
                    <div class="count">
              UI Devloper
                    </div>
              <div class="count">80 </div>
            </div>
          </div>
      
      
        <div class="col-lg-2 col-sm-6 col-md-3 col-6 px-1 clickable">
            <div class="info-card gradient4">
                    <div class="count">
                                      Android Devloper
                    </div>
              <div class="count">80 </div>
            </div>
          </div>
      
          <div class="col-lg-2 col-sm-6 col-md-3 col-6 px-1 clickable">
            <div class="info-card gradient5">
                    <div class="count">
             Embedded Devloper
                    </div>
             <div class="count">80 </div>
            </div>
          </div>
      
          <div class="col-lg-2 col-sm-6 col-md-3 col-6 px-1 clickable">
            <div class="info-card gradient6">
                    <div class="count">
              Testing
                    </div>
              <div class="count">80 </div>
            </div>                
          </div>
         
      </div>
      
      </div>