<p-dialog header="Device Details" [(visible)]="display" [modal]="true" [responsive]="true"
  [style]="{width: '650px', height:'300px', minWidth: '200px'}" [minY]="70" [maximizable]="true" [baseZIndex]="10000">
  
</p-dialog>

<p-dialog header="Add Maintainance" [(visible)]="useradd" [modal]="true" [responsive]="true"
    [style]="{width: '350px',  height:' 400px',minWidth: '200px'}" [minY]="70" [maximizable]="true" [baseZIndex]="10000">
    <div class="col-sm-12 col-lg-12 col-md-12">

        <div class="row row_form tab ">

            <div>
                <form class="group grp_form ">
                    <div>
                        <label class="first">Maintainance type</label>
                        <input type="text" class="form-control text-centre" placeholder="" name="deviceName">
                    </div>
                    
                    <div>
                        <label class="add">officeName</label>
                        <input type="text" class="form-control text-centre" placeholder="" name="purchaseDate">
                    </div>
                    <div>
                        <label class="date">Date</label>
                        <input type="text" class="form-control text-centre" placeholder="" name="">
                    </div>
                    <div>
                      <label class="description">Description</label>
                      <input type="text" class="form-control text-centre" placeholder="" name="">
                  </div>
                  <div>
                    <label class="amount">Amount</label>
                    <input type="text" class="form-control text-centre" placeholder="" name="">
                </div>
                <div>
                  <label class="note">Note</label>
                  <input type="text" class="form-control text-centre" placeholder="" name="deviceName">
              </div>
              

                    <div class="form group  ">
                        <button type="submit" class="btn btn-primary regis ">Add</button>
                    </div>
                </form>
            </div>
        </div>
    </div>

</p-dialog>

<!-- <button class="btn-primary btn" type="button" (click)="showDialog()" pButton icon="pi pi-info-circle" label="Show"> popups</button> -->

<div class="container">
  <div class="btn row">
    <button  (click)="AddMaint()" class="btn btn-primary button float-left maint"> Add Maintainance</button>
    
  </div>

 <div class="total"><h5>Total Cost:14500</h5></div>
  
  <div class="name row">
    <table class="table header table-striped tab">
      <thead>
            <tr>
                    <th>Sr.No</th>
                  <th>Maintainance</th>
                  <th>Office Name</th>
                  <th>Date</th>
                  <th>Description</th>
                  <th>Amount</th>
                  <th>Note</th>
                </tr>
      </thead>
      <tbody class="table-dark nameone">
            <tr *ngFor="let d of maintainance index as i">
                    <td>{{i+1}}</td>
                  <td>{{d.maintainance}}</td>
                  <td>{{d.officeName}}</td>
                  <td>{{d.date}}</td>
                  <td>{{d.description}}</td>
                  <th>{{d.amount}}</th>
                  <th>{{d.note}}</th>
                </tr>
      </tbody>
    </table>
  </div>
</div>