<div class="sidebar">
        <img src="assets/beauto.png" class="logo">
        <div class="row">
                <div>
                <i class="pi pi-check" style="font-size: 3em ; color: gray;">Dashboard</i> 
               
                </div>


                <ul>
                                <li>Coffee</li>
                                <li>Tea</li>
                                <li>Coca Cola</li>
                              </ul>



                              <li> <a>
                                        <img>
                                        &nbsp;&nbsp;&nbsp;
                                        <span >Money Flows</span></a></li>
                        
        </div>
        <!-- <div><a class="dash" id="menu_input">
            <p><img class=" dash" src="assets/download (1).jpeg"><span class= "sidebar">Dashboard</span></p></a>

            <a class="emp" id="menu_input">
                    <img class=" dash" src="assets/emp.png">
                    <span>Employee Details</span></a>


                    <a class="dash" id="menu_input">
                            <img class=" dash" src="assets/dev.png">
                            <span>Device details</span></a>


                            <a class="dash" id="menu_input">
                                    <img class=" dash" src="assets/maint.png">
                                    <span>Maintainence</span></a></div>  -->


        <!-- <img src="assets/dash.png" class="dash"><a href="#" class="w3-bar-item w3-button">Dashboard</a>
        <a href="#" class="w3-bar-item w3-button">Employee detail</a>
        <a href="#" class="w3-bar-item w3-button">Device detail</a>
        <a href="#" class="w3-bar-item w3-button">Maintainence</a> -->

</div>